@import url(http://workakp.com/deepakji/pro3/4/fonts/helvetica.ttf);

html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding-top: 500;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

body {
	font-family: Helvetica;
	src: url(http://workakp.com/deepakji/pro3/4/fonts/helvetica.ttf) format("truetype");
	background: #fff;
	font-weight: lighter;
	font-size: 100%;
	color: #333;
	height: 100%;
	line-height: 60px;
}

.js body {
	overflow: hidden;
}

a {
	color: #555;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #000;
}

.container,
.bb-custom-wrapper,
.bb-bookblock {
	width: 100%;
	height: 100%;
}

.container {
	position: relative;
	left: 0px;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.slideRight {
	left: 180px;
}

.no-js .container {
	padding-left: 180px;
}

.menu-panel {
	background: #a8297a;
	width: 240px;
	height: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.js .menu-panel {
	position: absolute;
	left: -240px;
}

.menu-panel h3 {
	font-size: 1.8em;
	padding: 20px;
	font-weight: 300;
	color: #fff;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,0.05);
} 

.menu-toc {
	list-style: none;
}

.menu-toc li a {
	display: block;
	color: #fff;
	font-size: 1em;
	line-height: 2;
	padding: 0 76px;
	cursor: pointer;
	
}
.menu-toc li span {
	display: block;
	color: #fff;
	font-size: 1em;
	line-height: 2;
	padding: 0 76px;
	cursor: pointer;
}

.menu-toc li ul {
	list-style: none;
	display:none;
}

.menu-toc li:hover ul {
	//display: block;
}
.menu-toc li:hover ul li:hover {
	font-weight: bold;
}
.menu-toc li ul li {
	color:#fff;
	font-size:0.8em;
	line-height: 2;
	padding: 0 20px;
}


.menu-toc li a:hover,
.menu-toc li.menu-toc-current a{
	
}

.menu-panel div {
	margin-top: 20px;
}


.menu-tic {
	list-style: none;
}

.menu-tic li a {
	display: block;
	color: #fff;
	font-size: 1.1em;
	line-height: 3.5;
	padding: 0 20px;
	cursor: pointer;
	background: #EAB3DA;
	border-bottom: 1px solid #EAB3DA;
}

.menu-tic li a:hover,
.menu-tic li.menu-toc-current a{
	background: #DD82C2;
}

.menu-panel div {
	margin-top: 20px;
}


.menu-panel div a {
	text-transform: uppercase;
	font-size: 0.7em;
	line-height: 1;
	padding: 5px 20px;
	display: block;
	border: none;
	color: #bc0b0b;
	letter-spacing: 1px;
	font-weight: 800;
	text-shadow: 0 1px rgba(255,255,255,0.2);
} 

.menu-panel div a:hover {
	background: inherit;
	color: #fff;
	text-shadow: none;
}

.bb-custom-wrapper nav {
	top: 12px;
	left: 21px;
	position: absolute;
	z-index: 1000;
}

.bb-custom-wrapper nav span,
.menu-button {
	position: absolute;
	width: 32px;
	height: 32px;
	top: 51px;
	left: 79px;
	border-radius: 50%;
	color: #fff;
	line-height: 30px;
	text-align: center;
	speak: none;
	font-weight: bold;
	cursor: pointer;
	background-color: #a52878;
}

.bb-custom-wrapper nav span:hover,
.menu-button:hover {
	background: #000;
}

.bb-custom-wrapper nav span:last-child {
	left: 40px;
}

.menu-button {
	z-index: 1000;
	left: 23px;
	top: 63px;
	text-indent: -9000px;
}

.menu-button:after {
	position: absolute;
	content: '';
	width: 50%;
	height: 2px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
	left: 25%;
	box-shadow: 0 -4px #fff, 0 4px #fff;
}

.no-js .bb-custom-wrapper nav span,
.no-js .menu-button {
	display: none;
}

.js .content {
	position: absolute;
	top: 60px;
	left: 0;
	width: 100%;
	bottom: 10px;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

.scroller {
	padding: 0px;
}

.scroller p > a{
	padding: -1px;
	border-bottom: 1px solid #ccc;
}

.js .content:before,
.js .content:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20px;
	z-index: 100;
	pointer-events: none;
}

.content h2 {
	font-weight: 300;
	font-size: 3.5em;
	padding: 0 0 10px;
	color: #333;
	margin: 0 1% -10px;
	text-align: left;
	box-shadow: 0 10px 0 rgba(0,0,0,0.02);
	text-shadow: 0 0 2px #fff;
}

.no-js .content h2 {
	padding: 40px 1% 20px;
}

.content p {
	font-size: 0.8em;
	line-height: 1.2;
	font-weight: 300;
	text-align: justify;
}



.attachment-post-thumbnail{
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

.social{
	top: 20px;
	right: 30px;
	position: absolute;
	z-index: 1000;
 
}

.clear{
	clear: both;
}
.fleft{
	float: left;
}

.mini-post{
	width: 200px;
	height: 200px;
	margin: 10px;
	overflow: hidden;
	border: 1px solid #FAFAFA;
	padding: 10px;
}

.mini-post img{
	opacity: 0.7;
	margin-top: 10px;
}
.mini-post h3{
	font-weight: 300;
}

.archive-link{
	font-size: 3em;
	font-weight: 300;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #dddddd;
	text-shadow: 1px 0px 2px #ababab;
}
.archive-link a{
	border-bottom: 1px solid #ccc;
	padding: 1px;
}

.bb-nav-prev{
	margin-left: -40px;
}

.bb-nav-next{
}

.aligncenter{
	display: block;
	margin-left: auto;
	margin-right: auto;
}


/* Comment */ 

ol.commentlist {list-style: none;margin-top:20px;}
ol.commentlist li {}
ol.commentlist li.alt {}
ol.commentlist li.bypostauthor {}
ol.commentlist li.byuser {}
ol.commentlist li.comment-author-admin {}
ol.commentlist li.comment {border-bottom: 1px dotted #ececec; padding: 10px;}
ol.commentlist li.comment div.comment-author {}
ol.commentlist li.comment div.vcard {}
ol.commentlist li.comment div.vcard cite.fn {font-style: normal;}
ol.commentlist li.comment div.vcard cite.fn a.url {}
ol.commentlist li.comment div.vcard img.avatar {float:right; margin: 0 0 10px 10px; border:1px solid #ececec}
ol.commentlist li.comment div.vcard img.avatar-32 {}
ol.commentlist li.comment div.vcard img.photo {}
ol.commentlist li.comment div.vcard span.says {}
ol.commentlist li.comment div.commentmetadata {}
ol.commentlist li.comment div.comment-meta {font-size: 10px;}
ol.commentlist li.comment div.comment-meta a {color: #ccc;}
ol.commentlist li.comment p {}
ol.commentlist li.comment ul {}
ol.commentlist li.comment div.reply {font-size: 11px;}
ol.commentlist li.comment div.reply a {font-weight: bold;}
ol.commentlist li.comment ul.children {list-style: none; margin: 10px 0 0;}
ol.commentlist li.comment ul.children li {}
ol.commentlist li.comment ul.children li.alt {}
ol.commentlist li.comment ul.children li.bypostauthor {}
ol.commentlist li.comment ul.children li.byuser {}
ol.commentlist li.comment ul.children li.comment {}
ol.commentlist li.comment ul.children li.comment-author-admin {}
ol.commentlist li.comment ul.children li.depth-2 {border-left: 5px solid #a9a85c; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-3 {border-left: 5px solid #8d8d4b; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-4 {border-left: 5px solid #6a6939; margin: 0 0 10px 10px;}
ol.commentlist li.comment ul.children li.depth-5 {}
ol.commentlist li.comment ul.children li.odd {}
ol.commentlist li.even {background: #faf9f9;}
ol.commentlist li.odd {background: #eeeeee;}
ol.commentlist li.parent {border-left: 5px solid #BAB965;}
ol.commentlist li.thread-alt {}
ol.commentlist li.thread-even {}
ol.commentlist li.thread-odd {}

h3.comments{
	margin-top: 30px;
	margin-bottom: 20px;
}

#respond h2{
	margin-top: 10px;
}

#cancel-comment-reply-link{
	font-size: 1.3em;
	font-weight: 300;
	margin-bottom: 20px;
	display: block;
	margin-left: 20px;
}

#commentform{
	margin-left: 20px;
}
#commentform input[type="text"]{
	border: none;
	border-bottom: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	background-color: #eeeeee;
	padding: 5px;
	width: 400px;
	color: #000;
	margin-bottom: 10px;
}
#commentform label{
	display: inline-block;
	width: 200px;
	line-height: 10px;
}

#commentform textarea{
	width: 100%;
	border: 1px solid #c2c2c2;
	background-color: #eeeeee;
	margin-top: 10px;
	color: #000;
	padding: 10px;
}

#commentform input[type="submit"]{
	-webkit-appearance: none;
	background: none;
	border: 1px solid #FAF9F9;
	background-color:#eeeeee;
	line-height: 25px;
	font-size: 1.1em;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 10px;
}

#searchform label{
	display: block;
	color: #fff;
	font-weight: 300;
	line-height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#searchform input[type="text"]{
	border: none;
	border-bottom: 1px solid #c2c2c2;
	border-left: 1px solid #c2c2c2;
	background-color: #eeeeee;
	padding: 5px;
	width: 100%;
	color: #000;
	height: 30px;
	margin-bottom: 10px;	
}

.share{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.share a{
	display: inline-block;
	width: 19%;
	text-align: center;
}

.share hr{
	border: none;
	border-bottom: 1px solid #EEEEEE;
	margin-top: -19px;
	margin-bottom: 20px;
}


.iphone{
	display: none;
}


.archives h4{
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

@media screen and (max-width: 800px){
	.no-js .menu-panel {
		display: none;
	}

	.no-js .container {
		padding: 0;
	}
	
	.content h2 {
		font-size: 2em;
	}
	#commentform input[type="text"]{
		width: 200px;
	}
	#commentform textarea{
		width: 200px;
	}
	
	.mini-post{
		width: 100%;
		height: 200px;
	}
	
	.mini-post img{
		opacity: 0.7;
		margin-top: 10px;
	}
	.mini-post h3{
		font-weight: 300;
		font-size: 1.4em;
	}
	
	.aligncenter{
		max-width: 440px;
	}
	
	.iphone{
		
	}
	
	.blur{
		background-color: #fff;
		opacity: 0.5;
		position: absolute;
		top: 0;
		height: 800px;
		width: 100%;
		z-index: 99997;
	}
	
	.txt{
		width: 100%;
		height: 50px;
		background-color: #bdcbdc;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#bdcbdc), to(#597498)); /* Chrome, Safari 4+ */
		background-image: -webkit-linear-gradient(top, #bdcbdc, #597498); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
		background-image:    -moz-linear-gradient(top, #bdcbdc, #597498); /* Firefox 3.6-15 */
		background-image:      -o-linear-gradient(top, #bdcbdc, #597498); /* Opera 11.10-12.00 */
		background-image:         linear-gradient(to bottom, #bdcbdc, #597498);
		position: absolute;
		bottom: 30px;
		z-index: 99999;
		border-bottom: 1px solid #676767;
		padding: 5px;
		color: #fff;
		box-shadow: 0px 0px 8px 0px #7f95b2;
		text-align: center;
	}
	.pic{
		position: absolute;
		bottom: 10px;
		z-index: 99998;
		background-color: #7f95b2;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#748caa), to(#597498)); /* Chrome, Safari 4+ */
		background-image: -webkit-linear-gradient(top, #748caa, #597498); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
		background-image:    -moz-linear-gradient(top, #748caa, #597498); /* Firefox 3.6-15 */
		background-image:      -o-linear-gradient(top, #748caa, #597498); /* Opera 11.10-12.00 */
		background-image:         linear-gradient(to bottom, #748caa, #597498);
		width: 40px;
		height: 40px;
		-webkit-transform: rotate(45deg); 
		-moz-transform: rotate(45deg);   
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);   
        transform: rotate(45deg);  
		margin-left: 45%;
		border-bottom: 1px solid #676767;
		border-right: 1px solid #676767;
		
	}
	
	.aligncenter{
		max-width: 100%;
	}
	
	input {
   		-webkit-appearance: none;
   		border-radius: 0;
    }
	
}

@media screen and (max-width: 400px){
	.menu-panel,
	.content {
		font-size: 75%;
	}
	.content h2 {
		font-size: 2em;
	}
	#commentform input[type="text"]{
		width: 200px;
	}
	#commentform textarea{
		width: 200px;
	}
	
	.mini-post{
		width: 100%;
		height: 200px;
	}
	
	.mini-post img{
		opacity: 0.7;
		margin-top: 10px;
	}
	.mini-post h3{
		font-weight: 300;
		font-size: 1.4em;
	}
	
	.aligncenter{
		max-width: 440px;
	}
	
	.iphone{
		
	}
	
	.blur{
		background-color: #fff;
		opacity: 0.5;
		position: absolute;
		top: 0;
		height: 800px;
		width: 100%;
		z-index: 99997;
	}
	
	.txt{
		width: 100%;
		height: 50px;
		background-color: #bdcbdc;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#bdcbdc), to(#597498)); /* Chrome, Safari 4+ */
		background-image: -webkit-linear-gradient(top, #bdcbdc, #597498); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
		background-image:    -moz-linear-gradient(top, #bdcbdc, #597498); /* Firefox 3.6-15 */
		background-image:      -o-linear-gradient(top, #bdcbdc, #597498); /* Opera 11.10-12.00 */
		background-image:         linear-gradient(to bottom, #bdcbdc, #597498);
		position: absolute;
		bottom: 30px;
		z-index: 99999;
		border-bottom: 1px solid #676767;
		padding: 5px;
		color: #fff;
		box-shadow: 0px 0px 8px 0px #7f95b2;
		text-align: center;
	}
	.pic{
		position: absolute;
		bottom: 10px;
		z-index: 99998;
		background-color: #7f95b2;
		background-image: -webkit-gradient(linear, left top, left bottom, from(#748caa), to(#597498)); /* Chrome, Safari 4+ */
		background-image: -webkit-linear-gradient(top, #748caa, #597498); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
		background-image:    -moz-linear-gradient(top, #748caa, #597498); /* Firefox 3.6-15 */
		background-image:      -o-linear-gradient(top, #748caa, #597498); /* Opera 11.10-12.00 */
		background-image:         linear-gradient(to bottom, #748caa, #597498);
		width: 40px;
		height: 40px;
		-webkit-transform: rotate(45deg); 
		-moz-transform: rotate(45deg);   
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);   
        transform: rotate(45deg);  
		margin-left: 45%;
		border-bottom: 1px solid #676767;
		border-right: 1px solid #676767;
	}

	.aligncenter{
		margin-left: -10px;
	}
	
	input {
   		-webkit-appearance: none;
   		border-radius: 0;
    }	
}

