nav {
  border-right: @pin;
  float:left;
  width: 100px;
  ul {
    padding: .5em 0;
    li {
      .bold;
      font-size: 12pt;
      padding: .7em 0;
      cursor: pointer;
      text-transform: uppercase;
      ul {
        padding-left: 0;
        text-indent: 8px;
        display: none;
        li {
          ul {
            margin-left: 5px;
            display: none;
            li {
              border-left: @pin;
              a {
                padding-left: 11px;
              }
            }
            li.current {
              border-left: 3px solid @red;
              margin-left: -2px;
            }
          }
        }
      }
      &.open {
        > ul  {
          display: block;
        }
      }
      a{
        color: #000;
        text-decoration: none;
        display: block;
      }
      b {
        font-size: 80%;
        color: #b1b1b1;
        display: inline-block;
        width: 27px;
      }
    }
    > li.current {
      b {
        color: @red;
      }
    }
  }
  > ul {
    > li {
      //background: url(../images/ui-collapsed.png) left 16px no-repeat;
      text-indent: 15px;
      font-size: 14pt!important;
      &.open {
        //background: url(../images/ui-expanded.png) left 16px no-repeat;
      }
    }
  }
}